<div class="container" style="padding-top:60px;">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card-group">
        <div class="card p-4">
          <div class="card-body">
            <form name="form" (ngSubmit)="login()" #f="ngForm"> 
              <h1 style="text-align:center">Login</h1>
             
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-user"></i></span>
                </div>
                <input type="text" name="UserName" [(ngModel)]="model.UserName" class="form-control sty1" placeholder="UserName" required>
              </div>
              <div class="input-group mb-4">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-lock"></i></span>
                </div>
                <input  type="password" name="Passward" [(ngModel)]="model.Password" class="form-control"
               placeholder="Password">
              </div>
              <div>
                  <p style="color:#E92626;font-size:20px;font-weight:normal" Class="success" align="left">
                    {{errorMessage}}
                  </p>
                </div>
              <div class="row">
                <div class="col-6">
                  <button type="submit" class="btn btn-primary px-4">Login</button>
                </div>
                <div class="col-6 text-right">
                  <button type="button" class="btn btn-link px-0">Forgot password?</button>
                </div>
              </div>
              
            </form>
          </div>
        </div>
        <!-- <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
          <div class="card-body text-center">
            <div>
              <h2>Sign up</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <button type="button" class="btn btn-primary active mt-3">Register Now!</button>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>