<div class="container" style="padding-top:40px;">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card mx-4">
        <div class="card-body p-4">
          <form [formGroup]="employeeForm" (ngSubmit)="onFormSubmit(employeeForm.value)">
            <h1 style="text-align:center">Register</h1>
            <!-- <p class="text-muted">Create your account</p> -->
            <div class="input-group mb-3">
              <!-- <div class="input-group-prepend">
                    <!-- <span class="input-group-text"><i class="icon-user"></i></span> -->
              <!-- </div> -->
              <input type="text" class="form-control" placeholder="Username" autocomplete="username"
                formControlName="UserName">
            </div>
            <div class="input-group mb-3">
              <!-- <div class="input-group-prepend">
                    <span class="input-group-text">@</span>
                  </div> -->
              <input type="text" class="form-control" placeholder="Loginname" autocomplete="email"
                formControlName="LoginName">
            </div>
            <div class="input-group mb-3">
              <!-- <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div> -->
              <input type="password" class="form-control" placeholder="Password" autocomplete="new-password" required
                formControlName="Password">
            </div>
            <div class="input-group mb-4">
              <!-- <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div> -->
              <input type="text" class="form-control" placeholder="Email" autocomplete="new-password" required
                formControlName="Email">
            </div>
            <div class="input-group mb-4">
              <input type="text" class="form-control" placeholder="Contact No" autocomplete="new-password" required
                formControlName="ContactNo">
            </div>
            <div class="input-group mb-4">
              <input type="text" class="form-control" placeholder="Address" autocomplete="new-password" required
                formControlName="Address">
            </div>
            <!-- <div class="form-group row">
                  <label class="col-md-6 col-form-label" for="Contact-Type">Status</label>
                  <div class="col-md-6 col-form-label">
                    <div class="form-check form-check-inline mr-1" id="inline-radios">
                      <input class="form-check-input" type="radio" name="inline-radios" id="inlineRadio1" value="option1">
                      <label class="form-check-label" for="inlineRadio1">Active</label>
                    </div>
                    <div class="form-check form-check-inline mr-1">
                      <input class="form-check-input" type="radio" name="inline-radios" id="inlineRadio2" value="option2">
                      <label class="form-check-label" for="inlineRadio2">In Active</label>
                    </div>
                  </div>
                </div> -->
            <!-- <div class="input-group mb-4">
                  <input type="password" class="form-control" placeholder="Repeat password" autocomplete="new-password" required>
                </div> -->
            <button type="submit" class="btn btn-block btn-success">Add User</button>
          </form>
        </div>
        <div>
          <p style="color:#E92626;font-size:20px;font-weight:normal" Class="success" align="left">
            {{Message}}
          </p>
        </div>
        <!-- <div class="card-footer p-4">
              <div class="row">
                <div class="col-6">
                  <button class="btn btn-block btn-facebook" type="button"><span>facebook</span></button>
                </div>
                <div class="col-6">
                  <button class="btn btn-block btn-twitter" type="button"><span>twitter</span></button>
                </div>
              </div>
            </div> -->
      </div>
    </div>
  </div>
</div>